@model List<LojaOnline.Models.Produto>

@{
    ViewData["Title"] = "Início";
}

<section class="produtos-lista container-principal">
    @foreach (var produto in Model)
    {
        <div class="produto">
            <img src="@produto.UrlImagem" alt="@produto.Nome" />

            <h3 class="produto-nome">@produto.Nome</h3>
            <p>@produto.Descricao</p>
            <p class="produto-preco">R$ @produto.Preco.ToString("F2")</p>
            <form asp-controller="Carrinho" asp-action="Adicionar" method="post">
                <input type="hidden" name="produtoId" value="@produto.Id" />
                <button class="btn btn-dark btn-adicionar">Adicionar ao Carrinho</button>
            </form>
        </div>
    }
</section>
